/* Fonts
Oswald - thin bold sans
Libre Baskerville
Cormorant Infant
Sorts Mill Goudy
Barrio
*/

/* BODY MASTER CSS */

body {
  background: rgb(34, 38, 46);
  font-family: 'Cormorant Infant';
  font-size: 14pt;
  cursor: context-menu;
}

/*main layout template for all elements*/
.layout {
  display: grid;
  color: white;
  width: 99vw;
  height: 98vh;
  grid-template-columns: 320px repeat(4, calc((98vw - 320px) / 4)) auto;
  grid-template-rows: 150px auto 50px;
  grid-template-areas:
    "headwrapper headwrapper headwrapper headwrapper headwrapper headwrapper"
    "area1 area2 area2 area2 area2 area2"
    "area3 area3 area3 area4 area4 area4";
}

.headlayout {
  display: grid;
  font-family: 'Oswald';
  height:140px;
  width: 100%;
  font-size: 70pt;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  grid-template-columns: 340px calc(98vw - 340px - 260px - 5px) 260px;
  grid-template-areas:
  "header headerspacer logo";
}

.header {
  grid-area: header;
  font-style: italic;
  color: yellow;
  text-shadow: 5px 5px 10px red;
  transition: .4s;
}

.header:hover {
  background: transparent;
  color: red;
  text-shadow: 5px 5px 10px yellow;
}

.headerspacer {
  width:auto;
}

.logo {
  background: transparent;
  transition: 1s;
  color: white;
  text-shadow: 5px 5px red;
  text-align: right;
}

.logo:hover {
  transform: rotate(5deg);
}

.box {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  transition: 150ms;
}

.area1 {
grid-area: area1;
display: grid;
grid-gap: 1px;
grid-template-rows: repeat(8 minmax(20px calc(100% / 8)));
grid-template-areas:
  "area1_1"
  "area1_2"
  "area1_3"
  "area1_4"
  "area1_5"
  "area1_6"
  "area1_7"
  "area1_8";
  transition: .5s;
}

button.area1_1, button.area1_2, button.area1_3, button.area1_4, button.area1_5, button.area1_6, button.area1_7, button.area1_8 {
  background: transparent;
  font-family: 'Libre Baskerville';
  color: inherit;
  font-size: 20pt;
}

.area1item:hover {
  background: inherit;
  color: yellow;
  font-size: 22pt;
  text-shadow: 3px 3px 3px red;
  cursor: pointer;
}

.area2 {
  grid-area: area2;
}

.area3 {
  grid-area: area3;
}

.area4 {
  grid-area: area4;
}