body {
  margin: 1em;
  background: black;
  margin-top: 5px;
  font-family: 'Segoe UI';
  font-size: 14pt;
}

.headwrapper {
  display: grid;
  margin: auto;
  grid-template-columns: auto 150px;
  grid-template-rows: 150px;
  grid-template-areas:
  "header logo";
}

.wrapper {
  display: grid;
  max-width: 900px;
  margin: auto;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 100px 600px 50px; 
  grid-template-areas:
    "left space space space space"
    "left links links links links"
    "left main main main main"
    "left footleft footcentre footcentre footright";
  }

.box {
  /*box-shadow: 2px 2px black;*/
  background: rgb(207, 223, 236);
}

  .header {
    grid-area: header;
    background: yellow;
    font-size: 70pt;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    text-shadow: 0px 0px 8px purple;
    text-align: center;
  }

  .logo {
    grid-area: logo;
    text-align: right;
    background: green;
  }

  .space {
    grid-area: space;
    background:lightcoral;
  }

  .links {
    grid-area: links;
    background: lightskyblue;
  }

  .left {
    grid-area: left;
    background: lightpink;
  }

  .main {
    grid-area: main;
    background:lightyellow;
  }

  .footleft {
    grid-area: footleft;
    background:lightblue;
  }

  .footcentre {
    grid-area: footcentre;
    background:lightsalmon;
    text-align: center;
  }

  .footright {
    grid-area: footright;
    background:yellow;
    text-align: right;
  }

  @media (max-width:900px) {
    body {
      background:cyan;
    }
  
    .headwrapper {
      display: grid;
      margin: auto;
      grid-template-columns: auto 50px;
      grid-template-rows: 50px;
      grid-template-areas:
      "header logo";
    }
  
    .wrapper {
      font-size: 11pt;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50px 100px 400px 100px 50px 50px;
      grid-template-areas:
        "space space space"
        "links links links"
        "main main main"
        "left left left"
        "footleft gap footright"
        "footleft footcentre footright";
      }
  
    .header {
      font-size:25pt;
      color:black;
      text-shadow: none;
    }
  }
  
  