body {
    background: darkslategrey;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }

.mainbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    margin: 5px;
}

.item {
    background-color: lightsalmon;
    color: darkslategray;
    padding: 15px;
    font-family: 'Oswald';
    font-size: 200%;
}

.item:hover {
    background-color: darkslategrey;
    color: lightsalmon;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin: 5px;
}

.fig {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1081px) {

    body {
        background-color: white;
        }

    .gallery {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-template-rows: repeat(auto-fill,250px);
        }
    
    .s {
        grid-area: span 2 / span 2;
    }

    .ss {
        grid-area: span 1 / span 1;
    }

    .p {
        grid-area: span 3 / span 2;
    }

    .l {
        grid-area: span 2 / span 3;
    }
}