/*

font-family: 'Barlow', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Karla', sans-serif;
font-family: 'Sorts Mill Goudy', serif;

*/

/*
    Variables declaration and default overrides
*/

html {
    --headfont: 'goudy bookletter 1911';
    --headfontsize: max(3vw,20pt);
    --textfont: 'barlow';
    --textfontsize: max(1.6vw,15pt);

    --dark: black;
    --verydark: rgb(39, 39, 39);
    --meddark: rgb(80, 80, 80);
    --light: white;

    --darktolight-h: linear-gradient(to right, black, white);

    --green: rgb(162, 231, 185);
    --blue: rgb(189, 235, 250);
    --pink: rgb(250, 200, 234);
    --yellow: rgb(241, 238, 176);

    --lightgreen: rgb(185, 228, 199);
    --lightblue: rgb(215, 240, 248);
    --lightpink: rgb(246, 220, 238);
    --lightyellow: rgb(240, 238, 203); 

    --rainbow-h: linear-gradient(to right, rgb(185, 228, 199), rgb(215, 240, 248), rgb(246, 220, 238), rgb(240, 238, 203));
    --rainbowreverse-h: linear-gradient(to left, rgb(185, 228, 199), rgb(215, 240, 248), rgb(246, 220, 238), rgb(240, 238, 203));

    --transitiontime: 0.5s;

    --spacing: 5px;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    margin: 0;
    font-weight: normal;
}

body {
    background: rgb(80, 80, 80);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }

a {
    text-decoration: underline;
    color: darkblue;
}

.headitem {
    color: black;
    padding: 1vw;
    font-size: max(3vw,20pt);
    font-family: 'goudy bookletter 1911';
    text-align: center;
    border: hidden;
    text-decoration: none;
    vertical-align: center;
    transition: 0.5s;
}

.headitem:hover {
    background-color: black;
    cursor: pointer;
}

.item {
    padding: 1vw;
    font-size: max(3vw,20pt);
    font-family: 'goudy bookletter 1911';
    text-align: center;
    border: hidden;
}

/*
    Classes for background colours.
*/

.darkbackground {
    background-color: black;
}

.medbackground {
    background-color: rgb(80, 80, 80);
}

.lightbackground {
    background-color: white;
}

.greenbackground{
    background-color: rgb(162, 231, 185);
}

.bluebackground{
    background-color: rgb(189, 235, 250);
}

.pinkbackground{
    background-color: rgb(250, 200, 234);
}

.yellowbackground{
    background-color: rgb(241, 238, 176);
}

.lightgreenbackground {
    background-color: rgb(185, 228, 199);
}

.lightbluebackground {
    background-color: rgb(215, 240, 248);
}

.lightpinkbackground {
    background-color: rgb(246, 220, 238);
}

.lightyellowbackground {
    background-color: rgb(240, 238, 203);
}

.rainbow-h {
    background-image: linear-gradient(to right, rgb(185, 228, 199), rgb(215, 240, 248), rgb(246, 220, 238), rgb(240, 238, 203))
}

.greentoblue-h {
    background-image: linear-gradient(to right, rgb(185, 228, 199), rgb(215, 240, 248));
}

.greentopink-h {
    background-image: linear-gradient(to right, rgb(185, 228, 199), rgb(246, 220, 238));
}

.greentoyellow-h {
    background-image: linear-gradient(to right, rgb(185, 228, 199), rgb(240, 238, 203));
}

.greentolight-h {
    background-image: linear-gradient(to right, rgb(185, 228, 199), white);
}

.bluetogreen-h {
    background-image: linear-gradient(to right, rgb(215, 240, 248), rgb(185, 228, 199));
}

.bluetopink-h {
    background-image: linear-gradient(to right, rgb(215, 240, 248), rgb(246, 220, 238));
}

.bluetoyellow-h {
    background-image: linear-gradient(to right, rgb(215, 240, 248), rgb(240, 238, 203));
}

.bluetolight-h {
    background-image: linear-gradient(to right, rgb(215, 240, 248), white);
}

.pinktogreen-h {
    background-image: linear-gradient(to right, rgb(246, 220, 238), rgb(185, 228, 199));
}

.pinktoblue-h {
    background-image: linear-gradient(to right, rgb(246, 220, 238), rgb(215, 240, 248));
}

.pinktoyellow-h {
    background-image: linear-gradient(to right, rgb(246, 220, 238), rgb(240, 238, 203));
}

.pinktolight-h {
    background-image: linear-gradient(to right, rgb(246, 220, 238), white);
}

.yellowtogreen-h {
    background-image: linear-gradient(to right, rgb(240, 238, 203), rgb(185, 228, 199));
}

.yellowtoblue-h {
    background-image: linear-gradient(to right, rgb(240, 238, 203), rgb(215, 240, 248));
}

.yellowtopink-h {
    background-image: linear-gradient(to right, rgb(240, 238, 203), rgb(246, 220, 238));
}

.yellowtolight-h {
    background-image: linear-gradient(to right, rgb(240, 238, 203), white);
}

.lighttogreen-h {
    background-image: linear-gradient(to right, white, rgb(162, 231, 185));
}

.lighttoblue-h {
    background-image: linear-gradient(to right, white, rgb(215, 240, 248));
}

.lighttopink-h {
    background-image: linear-gradient(to right, white, rgb(246, 220, 238));
}

.lighttoyellow-h {
    background-image: linear-gradient(to right, white, rgb(240, 238, 203));
}

/*
    Classes for text colours.
*/

.darktext {
    color: black;
}

.lighttext {
    color: white;
}

.greentext {
    color: rgb(162, 231, 185)
}

.bluetext {
    color: rgb(189, 235, 250);
}

.pinktext {
    color: rgb(250, 200, 234);
}

.yellowtext {
    color: rgb(241, 238, 176);
}

/*
    Classes for title menu hover effects.
*/

.name {
    transition: 0.5s;
}

.name:hover {
    text-shadow: 0px 0px 0px rgb(162, 231, 185), 5px 5px 0px rgb(189, 235, 250), 10px 10px 0px rgb(250, 200, 234), 15px 15px 0px rgb(241, 238, 176);
    color: transparent;
}

.greentitle:hover {
    color: rgb(162, 231, 185);
}

.bluetitle:hover {
    color: rgb(189, 235, 250);
}

.pinktitle:hover {
    color: rgb(250, 200, 234)
}

.yellowtitle:hover {
    color: rgb(241, 238, 176);
}

/*
    Classes for font styling and sizing of items.
*/

h1, p {
    padding: 1vw;
}

h1 {
    font-family: 'goudy bookletter 1911';
    font-size: max(3vw,20pt);
    vertical-align: center;
}

text, p {
    font-family: 'barlow';
    font-size: max(1.6vw,15pt);
    vertical-align: top;
}

.smalltext {
    font-size: max(1.6vw,15pt);
}

.largetext {
    font-size: calc(max(1.6vw,15pt)*1.5)
}

/*
    Classes for defining grid layouts.
    ALL grid items should be in the first list then a separate entry for layout specifics.
    The layouts here are for mobile layout. See below for expanding to tablet/desktop layout.

    THe margin class is used only on the outermost grid if there are nested grids.
    Inner grids when nested already have grid gap between its own element and the parent grid gap for spacing.
    header footer and .imagegallery have this built in as they shouldn't be nested.
*/

.margin,
header,
footer,
.imagegallery {
    margin: 5px;
}

header,
footer,
.onecolumn,
.twocolumns,
.threecolumns,
.fourcolumns,
.imagegallery {
    display: grid;
    grid-gap: 5px;
}

header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer,
.onecolumn,
.twocolumns,
.threecolumns,
.fourcolumns {
    grid-template-columns: 1fr;
}

.imagegallery {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    grid-gap: 5px;
    padding: 5px;
}

/*
    Classes for grid item sizing
*/

.span {
    grid-column: 1 / -1;
}

.span2h {
    grid-column: span 2;
}

.span2v {
    grid-row: span 2;
}

.span3h {
    grid-column: span 3;
}

.span3v {
    grid-row: span 3;
}

/*
    Classes for other items etc.
*/

button {
    border-style: solid;
    border-width: 2px;
    padding: 1vw;
    font-family: 'barlow';
    font-size: max(1.6vw,15pt);
    transition: 0.05s;
    font-weight: 600;
    background-color: black;
}

.greenbutton {
    border-color: rgb(162, 231, 185);
    color: rgb(162, 231, 185)
}
.greenbutton:hover {
    background-color: rgb(162, 231, 185);
    color: black;
}
.bluebutton {
    border-color: rgb(189, 235, 250);
    color: rgb(189, 235, 250)
}
.bluebutton:hover {
    background-color: rgb(189, 235, 250);
    color: black;
}
.pinkbutton {
    border-color: rgb(250, 200, 234);
    color: rgb(250, 200, 234)
}
.pinkbutton:hover {
    background-color: rgb(250, 200, 234);
    color: black;
}
.yellowbutton {
    border-color: rgb(241, 238, 176);
    color: rgb(241, 238, 176)
}
.yellowbutton:hover {
    background-color: rgb(241, 238, 176);
    color: black;
}

figure {
    padding: 0;
    margin: 0;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}   

iframe {
    object-fit: cover;
}

.soundcloud {
    font-size: max(1.6vw,15pt);
}

.youtube {
    width: 100%;
    height: auto;
}

.youtube {
	padding-bottom: 56.25%;
    height: 0;
    position: relative;
	padding-top: 30px;
	overflow: hidden;
}
.youtube iframe, 
.youtube object, 
.youtube embed {
	position: absolute;
	left: 0;
    top: 0;
	width: 100%;
	height: 100%;
}



/*
    Classes for dropdowns and labels and inputs etc
*/

select {
    width: 80%;
    height: max(5vw,60px);
    font-family: 'Barlow';
    font-size: calc(max(1.6vw,15pt)*1.2);
    border: none;
    border-radius: 0;
    border: rgb(80, 80, 80);
    border-width: 3px;
    border-style: solid;
    margin: 1vw;
    padding: 0 15px;
    border-radius: 999px;
    background-color: black;
    color: rgb(162, 231, 185);
    text-align-last: center;
}

select option:disabled {
    color: rgb(250, 200, 234);
    font-style: italic;
}

select option:checked {
    color: rgb(189, 235, 250)
}

label {
    font-size: max(1.6vw,15pt);
    font-family: 'barlow';
    margin: 1vw;
}
textarea {
    width: 80%;
    height: 100px;
    background-image: linear-gradient(rgb(39, 39, 39),rgb(39, 39, 39));
    resize: none;
    margin: 1vw;
    padding: 1vw;
    border: none;
    font-size: max(1.6vw,15pt);
    font-family: 'barlow';
    color: white;
    overflow: hidden;
}

.textinput {
    width: 80%;
    background-image: linear-gradient(rgb(39, 39, 39),rgb(39, 39, 39));
    resize: none;
    margin: 1vw;
    padding: 1vw;
    border: none;
    font-size: max(1.6vw,15pt);
    font-family: 'barlow';
    color: inherit;
}

::placeholder {
    color: lightgrey;
}

@media only screen and (orientation: landscape) and (min-width: 700px) {

/*
    Classes for grid layouts greated than 700px wide and landscape orientation.
*/

header {
    grid-template-columns: repeat(5,2fr);
}

.name {
    grid-column: span 1;
}

.imagegallery {
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto-fill,250px);
    }

.twocolumns {
    grid-template-columns: 1fr 1fr;
}

.threecolumns {
    grid-template-columns: 1fr 1fr 1fr;
}

.fourcolumns {
    grid-template-columns: 1fr 1fr;
    /* --- Four columns allowed in media query below for over 1000px wide --- */
}

/*
    Classes for grid item positioning in tablet/desktop layout.
*/

.widespan {
    grid-column: 1 / -1;
}

.wspan2h {
    grid-column: span 2;
}

.wspan3h {
    grid-column: span 3;
}

.square {
    grid-area: span 2 / span 2;
}

.portrait {
    grid-area: span 3 / span 2;
}

.landscape {
    grid-area: span 2 / span 3;
}

.fullwidth {
    grid-area: span 3 / span 5;
}

.thinportrait {
    grid-area: span 2 / span 1;
}

.thinlandscape {
    grid-area: span 1 / span 2;
}

}

@media only screen and (min-width: 1200px) {

/*
    This is just to exapnd the fourcolumns grid to the full four columns.
*/

    .fourcolumns {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}