/*

font-family: 'Bebas Neue', cursive;
font-family: 'Contrail One', cursive;
font-family: 'DM Mono', monospace;
font-family: 'Fira Code', monospace;
font-family: 'Fjalla One', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Sorts Mill Goudy', serif;

*/

:root {
    --headfont: 'goudy bookletter 1911';
    --headfontsize: 3rem;
    --textfont: 'dm mono';
    --textfontsize: 1.5rem;

    --dark: black;
    --meddark: rgb(200, 200, 200);
    --light: white;

    --darkphoto: rgb(85, 85, 85);
    --lightphoto: rgb(240, 223, 128);

    --green: rgb(162, 231, 185);
    --blue: rgb(189, 235, 250);
    --pink: rgb(250, 200, 234);
    --yellow: rgb(241, 238, 176);
}

.span2h {
    grid-column: span 2;
}

.span2v {
    grid-row: span 2;
}

.span3h {
    grid-column: span 3;
}

.span3v {
    grid-row: span 3;
}

body {
    background: var(--light);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }

header, footer {
    display: grid;
    grid-gap: 5px;
    margin: 5px;
}

header {
    grid-template-columns: repeat(2,1fr);
}

footer {
    grid-template-columns: 1fr;
}

.name:hover {
    text-shadow: 0px 0px 0px var(--green), 5px 5px 0px var(--blue), 10px 10px 0px var(--pink), 15px 15px 0px var(--yellow);
    color: transparent;
}

a {
    background-color: var(--light);
    color: var(--dark);
    padding: 15px;
    font-size: var(--headfontsize);
    transition: 1s;
    font-family: var(--headfont);
    text-align: left;
    border: hidden;
    text-decoration: none;
    vertical-align: center;
}

.item {
    background-color: var(--dark);
    color: var(--light);
    padding: 15px;
    font-size: var(--headfontsize);
    transition: 1s;
    font-family: var(--headfont);
    text-align: left;
    border: hidden;
}

a:hover {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.home{
    background-color: var(--green);
}

.photos{
    background-color: var(--blue);
}

.music{
    background-color: var(--pink);
}

.videos{
    background-color: var(--yellow);
}

.section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.text {
    font-family: var(--textfont);
    color: var(--dark);
    font-size: var(--textfontsize);
    padding: 3%;
    background-color: var(--meddark);
    font-weight: lighter;
    vertical-align: top;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin: 5px;
}

figure {
    padding: 0px;
    margin: 0px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}   

iframe {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.smalltext {
    font-size: 1rem;
}

@media only screen and (min-width: 1081px) {

    header {
        grid-template-columns: 1fr 1fr repeat(4,2fr);
    }

    .gallery {
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(auto-fill,250px);
        }

    .section2 {
        grid-template-columns: 1fr 1fr;
    }

    .section3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wspan2h {
        grid-column: span 2;
    }

    .wspan3h {
        grid-column: span 3;
    }
    
    .s {
        grid-area: span 2 / span 2;
    }

    .p {
        grid-area: span 3 / span 2;
    }

    .l {
        grid-area: span 2 / span 3;
    }

    .w {
        grid-area: span 3 / span 5;
    }

    .tv {
        grid-area: span 2 / span 1;
    }

    .th {
        grid-area: span 1 / span 2;
    }

}