/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Goudy Bookletter 1911', serif;
*/

body {
    background: darkslategrey;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue';
  }

header, footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

button, .item {
    background-color: lightsalmon;
    color: darkslategray;
    padding: 15px;;
    font-size: 2rem;
    transition: 0.5s;
    font-family: inherit;
    text-align: left;
    border: hidden;
}

button:hover, .item:hover {
    background-color: darkslategrey;
    color: lightsalmon;
    cursor: pointer;
    text-shadow: black 10px 10px 0px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin: 5px;
}

figure {
    padding: 0px;
    margin: 0px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}   

@media only screen and (min-width: 1081px) {

    body {
        background-color: darkslategrey;
        }

    .gallery {
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(auto-fill,250px);
        }
    
    .s {
        grid-area: span 2 / span 2;
    }

    .p {
        grid-area: span 3 / span 2;
    }

    .l {
        grid-area: span 2 / span 3;
    }

    .w {
        grid-area: span 3 / span 5;
    }

    .tv {
        grid-area: span 2 / span 1;
    }

    .th {
        grid-area: span 1 / span 2;
    }
}